@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 70px;
}

.navbar {
    background-color: rgb(190, 188, 188);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;


}

.name {
    font-size: 25px;
}

.list {
    list-style: none;
    display: flex;
    column-gap: 20px;
    color: black;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

.text {
    text-align: left;
    margin-top: 200px;

}

.text span {
    font-weight: 600;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: black;
    margin-bottom: 0rem;



}

p {
    color: gray;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;



}

.paraf {
    line-height: 1.5rem;
    color: gray;
    margin-bottom: 2rem;
    padding-top: 30px;

}

.anaboard {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.buton {
    display: flex;
    flex-direction: row;
    column-gap: 20px;



}

button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(169, 165, 165);
    color: black;
}

img {
    /* border: none;
    height: 500px;
    width: 400px;
    border-radius: 400px; */

    width: min(37.5rem, 90%);
    height: min(37.5rem, 90%);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100%;

}

.foto {
    display: grid;
    place-items: center;

}

.skills {
    text-align: center;
}

.contact {
    background-color: rgb(247, 245, 245);
    text-align: center;

}

.contact-title {
    padding-top: 80px;
}

.posta {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 20px 400px 20px 400px;

}

.linkedin {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 20px 400px 20px 400px;
}

.git {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 20px 400px 20px 400px;
}

.insta {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 20px 400px 0px 400px;
}

.link {
    color: white;
}